*{font-family: 'Gloria Hallelujah', cursive;
font-size: 100%;
}


h1 {
display: flex;
justify-content: center;
padding-top: 4%;
padding-right: 1%;
}

#logo { 
display: flex;
justify-content: center;
padding-top: 2%;
padding-right: 3%;
height: 20%;
} 

#boke { 
display: block;
padding-left: 33%;
}

#c {
display: flex;
justify-content: space-evenly;
margin: 1%;
padding-top: 3%;
height: 38%;
padding-right: 3%;
}


ul{display: flex;
justify-content: space-evenly;
padding-left: 2%;
font-size: 160%;
padding-top: 3%;
}

Footer{
display: flex;
justify-content: center;
font-size:120%;
padding-top: 3%;
padding-left: 0.5%;
}